.search {
  -webkit-appearance: none;
  text-align: center;
  border: none;
  outline: none;
  padding: 15px;
  width: 350px;
  line-height: 30px;
  margin-bottom: 50px;
}

.search::placeholder {
  font-size: 19px;
  color: rgb(136, 136, 136);
  letter-spacing: 1px;
}